//Adaptive CSS
//The screen width is greater than 1000px and smaller than 2000px
@media screen and (min-width: 1000px) and (max-width: 2000px){
    .rightCon>div .card{
        display: block!important;
    }
}
//When the screen width is less than 1000px
@media screen and (max-width: 1000px){
    .boxM{
        display: block;
    }
    .boxP{
        height: auto;
        padding-bottom: 1.6rem;
        .leftBox{
            display: none;
        }
        .rightBox{
            background: #fff;
        } 
        .rightTopBox{
            display: none;
        }
        .screenBox{
            display: none;
        }
        .timeTask{
            display: none;
        }
        .rightCon{
            flex-wrap: wrap;
            padding: 0;
            margin-top: .07rem;
            .titleBox{
                display: none;
            }
            >div{
                width: 100%;
                padding: 0 .33rem;
            }
        }
        .card{
            background: #FCFCFD;
            border: 1px solid #EEEEEE;
            box-shadow: 0px 8.93002px 14.4254px rgba(16, 24, 40, 0.13);
            border-radius: .18rem;
        }
        .timeTask,.musicMinBox{
            display: none!important;
        }
        .startTime{
            display: none!important;
        }
        .pcMusicMaxBox{
            display: none!important;
        }
    }
}
