@media screen and (min-width: 1000px) and (max-width: 2000px){
    .rightCon>div .card{
        display: block!important;
    }
}

@media screen and (max-width: 1000px){
    .boxM{
        display: block;
    }
    .boxP{
        height: auto;
        padding-bottom: 1.6rem;
        .leftBox{
            display: none;
        }
        .rightBox{
            background: #fff;
        } 
        .rightTopBox{
            display: none;
        }
        .screenBox{
            display: none;
        }
        .timeTask{
            display: none;
        }
        .rightCon{
            flex-wrap: wrap;
            padding: 0;
            margin-top: .07rem;
            .titleBox{
                display: none;
            }
            >div{
                width: 100%;
                padding: 0 .33rem;
            }
        }
        .card{
            // margin-top: .13rem;
            background: #FCFCFD;
            border: 1px solid #EEEEEE;
            box-shadow: 0px 8.93002px 14.4254px rgba(16, 24, 40, 0.13);
            border-radius: .18rem;
            // >div{
            //     padding-left: 0;
            //     padding-right: 0;
            // }
        }
        .timeTask,.musicMinBox{
            display: none!important;
        }
        .startTime{
            display: none!important;
        }
        .pcMusicMaxBox{
            display: none!important;
        }
        // .musicMaxBox{
        //     // display: block;
        //     width:  calc(100% - .46rem);
        //     height: calc(100vh - .98rem);
        //     bottom: .9rem;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     z-index: 100;
        //     border: 1px solid #EEEEEE;
        //     box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
        // }
    }
}